/*Í·²¿µÄ±àÐ´*/
.header-top{

    width: 100%;
    min-width: 1200px;
    height: 40px;
    line-height: 40px;
    font-size: 12px;
    border-bottom: 1px solid #eceaeb;
    background: rgba(246, 246, 246, 1);
}
.header-t-s1{
    color:#c63030;
    margin-left:1.5rem;
}
.header-t-s2{
    margin:20rem;
}
.header-t-s3{
    float:right;
}
.header-t-a{
    color:#666;
}
.header-search{
    padding:23px 0px;
}
.header-search>div{
    float:left;
    height:70px;
}
.header-bar{
    height:136px;
    background:url("../img/index/1.jpg") center;
    position:relative;
    transition:0.5s;
    overflow: hidden;
    margin:0 auto;
}
.header-bar>span:nth-child(1){
    position:absolute;
    top:-18px;
    right:0px;
    font-size:35px;
    color:#fff;
    cursor:pointer;
}
.header-bar>span:nth-child(2){
    position:absolute;
    bottom: 0px;
    right:0px;
    color:#fff;
    font-size:14px;
    cursor:pointer;
}
.header-search-inp{
    width:400px;
    height:40px;
    outline:0;
    border:2px solid #cc0000;
    border-right:0;
    padding-left:3rem;
}
.header-search-content {
    margin-left: 180px;
    position:relative;
}
.header-search-btn{
    height:42px;
    background:#cc0000;
    color:#fff;
    border: 0px;
    width:4rem;
}
.header-search-nav>a{
    color:#666;
    margin:1rem;
}
.header-search-icon{
    position:absolute;
    top:7px;
    left:15px;
}
.header-search:after{
    content:'';
    display:block;
    clear:both;
}
